.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#ships{
  background-color: goldenrod;
  width: 200px;
  height: 150px;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-align: center;
  line-height: 150px;
  color: black;
  text-decoration:solid;
}

#ship-card{
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 142, 72);
  width: 400px;
  margin: 50px;
}

h2{
  border-bottom: solid;
  text-decoration: solid;
  color: black;
}